body {
    background-color: #C7C5AE
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 64px;
  text-align: center;
}
  
p {
  font-family: 'VT323', monospace;
  font-size: 32px;
  text-align: center;
}
